/*
*
*  STYLESHEET VOOR BLOK WEB
*  AUTEUR: EMMA OUDMAIJER
*  LAATSTE AANPASSING: 29 NOVEMBER 2018
*/


/* 
STIJL VOOR MENU BUTTONS OP DE HOMEPAGE EN DE BUTTON OP DE HOOFDPAGINAS VAN ELKE CATEGORIE
*/

body {
    font-family: sans-serif;
    font-size: 0.63em;
}

@media (min-width: 30em) {
    body {
        color: #000;
    }
}


/* header stijlen menu */

/*header {
    background-color: #1B1D3A;
    height: 10.44em;
    /*105px
}
*/
header {
     background-color: #1B1D3A;
    height: 110px;
}

header ul {
    display: inline-block;
    margin: 0.15em;
}
header li {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    background-color: transparent;
    padding: 0em;
    margin: 0em;
    margin-top: 1.6em;
    border: 0px solid;
    background-color: #31415f;
    border-top: 3px solid;
    border-top-color: #31415f;
}

header li:hover {
    border-top: 3px solid;
    border-top-color: #FAEA31;
}

header a {
    text-decoration: none;
    text-align: center;
    color: white;
    font-family: arial;
    font-size: 0.5em;
    padding: 0.8em;
}

header img {
    float: left;
    padding-top: 0em;
}


/* h1 stijlen en de verras me button */

button {
    background-color: #FAEA31;
    border-radius: 0.3em;
    ;
    font-size: 2em;
    float: right;
    margin-top: 0em;
    font-size: 0.6em;
    padding: 0.5em;
}

h1 {
    font-size: 4em;
    text-align: center;
}

h1 img {
    width: 2em;
}


/* Formulier stijlen */

h2 {
    color: black;
}

ul {
    list-style: none;
    text-align: left;
}

li {
    border: 1px solid;
    padding: 4em;
    background-color: whitesmoke;
    color: black;
}

li input[type="text"] {
    width: 100%;
    font-size: 1em;
}

li input[type="checkbox"] {
    width: 100%;
    font-size: 1em;
}

li textarea {
    width: 100%;
    font-size: 1em;
}

li input[type="submit"] {
    width: 50%;
    margin-left: 25%;
    font-size: 1em;
    background-color: cadetblue;
    color: white;
    border-radius: 0.2em;
}

footer {
    clear: both;
    margin-bottom: 0em;
}

ul {
    text-align: center;
    font-family: sans-serif;
    padding: 0.6em;
    font-size: 3em;
}

article {
    margin: 0em 1.5% 5em 1.5%;
    float: left;
    width: 22%;
}

article Div {
    border: 1px #000000 solid;
    border-radius: 0.6em;
    color: black;
    display: block;
    font-family: Arial;
    text-align: center;
    height: 30em;
    width: 70%;
}

article img {
    border-radius: 0.7em 0.7em 0em 0em;
    width: 100%;
}

article p {
    position: absolute;
    margin-top: 26em;
    text-align: center;
    margin-left: 5em;
}

article a {
    background-color: #FAEA31;
    padding: 0.6em 02em 0.8em 2em;
    text-decoration: none;
    text-align: center;
}

form {
    font-size: 14px;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid;
    border-radius: 1.1em;
    background-color: #f7f7f7;
}

form input {
    width: 45%;
    height: 2em;
}

form input[type="submit"] {
    margin: 0;
    font-size: 1em;
    background-color: cadetblue;
    color: white;
    border-radius: 0.2em;
}

form input[type="checkbox"] {
    text-align: left;
    width: 2em;
}
